@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset css */
html,
body {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.react-tabs__tab {
  height: 40px;
}

.react-tabs__tab-panel--selected {
  height: calc(98% - 40px);
}

/* 마크다운 테이블 레이아웃 버그 수정용 css */
.markdown-body table {
  table-layout: fixed;
  width: auto !important;
}
